.lights_out_highlight {
  background: white;
  position: relative;
  z-index: 200;
}
#lights_out_shadow {
  background: url('../images/dim.png');
  display: none;
  left: 0;
  position: absolute;
  text-align: left;
  top: 0;
  width: 100%;
  z-index: 100;
}
